{% import 'macros.html'as macro %}
{% extends 'base.html'%}
<div class="container">
  {% block content%}
<body>
<!--Business sources-->
<h3> General Sources </h3>
<ul>
  {{macro.displaySources(general)}}
</ul>
<h3> Sports Sources</h3>
<ul>
  {{macro.displaySources(sports)}}
</ul>

<h3> Entertainment Sources<h3>
  <ul>
  {{macro.displaySources(entertainment)}}
</ul>
<h3>Business Sources</h3>
<ul>
  {{macro.displaySources(business)}}
</ul>
<h3> Technology Sources</h3>
<ul>
  {{macro.displaySources(technology)}}
</ul>
<h3> Health Sources</h3>
<ul>
  {{macro.displaySources(health)}}
</ul>
</body>
{% endblock %}
</div>
