<!--we create a function that loops through the sources_list-->
{% macro displaySources(sources_list) %}

     {% for source in sources_list%}
     <div class="col-sm-6 col-md-3">
    <button class="button" style="background-color:purple; padding:20px; text-align:center;font-size:15px; border-radius:12px;" ><a style="color:white;" href ="/article">{{source.name}}</a></button>
  </div>
  <br>
     {% endfor %}
    {% endmacro %}

{% macro displayArticles(articles_list) %}
    {% for article in articles_list%}


  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
                  <a>
                        <img src="{{article.urlToImage}}"  alt="">
                    </a>

                  <div class="caption">
                      <h5 class="card-title">{{article.title}}</h5>
                      <p class="card-text">{{article.description}}</p>
                      <p>Published at: {{article.publishedAt}}<p>
                      <a class="btn btn-primary" href="{{article.url}}">Click here for more</a>



                  </div>
                </div>
              </div>





    {% endfor %}
{% endmacro %}
