<!--we create a function that loops through the sources_list-->
{% macro displaySources(sources_list) %}

     {% for source_item in sources_list%}
         <li><a  href ="/news/source_item.id">{{source_item.name}}</a></li>
     {% endfor %}{% endmacro %}

{% macro displayArticles(articles_results) %}
    {% for results in articles_results%}
  <div class ="container">
    <ul>
     <li>{{article.title}}</li>
     <li>{{article.description}}</li>
    </ul>
 </div>

    {% endfor %}
{% endmacro %}
